
<main id="admin-edit-locationcategory">
  <h1><%=@labels[:admin_locationcategory][:title_edit] %></h1>

  <form class="admin-form-new" action="/admin/locationcategories/edit/<%=locationcategory.id %>" method="post">
    <fieldset>
      <legend><%=@labels[:admin_form][:general] %></legend>
      <%=
        erb :'admin/partials/_hex_input',
            :locals => {:color_hex => locationcategory.color_hex,
                        :readonly => false}
      %>
    </fieldset>

    <%=
      erb :'admin/partials/_translations_edit',
          :locals => {:object => locationcategory}
     %>
     <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>

  <div>
    <ul class="thumb-list">
      <% locationcategory.locations.each do |location| %>
        <%=
          erb :'admin/partials/_location_excerpt',
              :locals => {:location => location}
        %>
      <% end %>
    </ul>
  </div>
</main>
