
<main id="admin-locationcategory">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/locationcategories/#{locationcategory.id}",
                    :action_edit => "/admin/locationcategories/edit/#{locationcategory.id}",
                    :action_toggle_publish => "/admin/locationcategories/togglepublish/#{locationcategory.id}",
                    :is_published => locationcategory.published}
  %>
  <div class="locationcategory">
    <h2><%=@labels[:admin_form][:general] %></h2>
    <%=
      erb :'admin/partials/_hex_input',
          :locals => {:color_hex => locationcategory.color_hex,
                      :readonly => true}
    %>

  </div>

  <%=
    erb :'admin/partials/_translations_view',
        :locals => {:object => locationcategory}
  %>

  <div>
    <ul class="thumb-list">
      <% locationcategory.locations.each do |location| %>
        <%=
          erb :'admin/partials/_location_excerpt',
              :locals => {:location => location}
        %>
      <% end %>
    </ul>
  </div>
</main>
