
  <main id="admin-locationcategories">
    <h1 class="site-title"><%=@labels[:admin_locationcategory][:title_overview] %></h1>
    <a href="/admin/locationcategories/new"><%=@labels[:admin_locationcategory][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul>
      <% locationcategories.where(:published => true).each do |locationcategory| %>
        <li><a href="/admin/locationcategories/<%=locationcategory[:id] %>"><%=locationcategory.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul>
      <% locationcategories.where(:published => false).each do |locationcategory| %>
        <li><a href="/admin/locationcategories/<%=locationcategory[:id] %>"><%=locationcategory.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
  </main>
