
<main id="admin-edit-page">
  <h1><%=@labels[:admin_page][:title_edit] %></h1>
  <form class="admin-form-new" action="/admin/pages/edit/<%=page.id %>" method="post">
    <fieldset class="page_general">
      <legend><%=@labels[:admin_form][:general] %></legend>
      <label for="name"><%=@labels[:admin_page][:name] %>:</label>
      <input type="text" name="name" value="<%=page.name %>">
    </fieldset>
    <%=
      erb :'admin/partials/_translations_edit',
          :locals => {:object => page}
    %>
    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>
