
<main id="admin-new-page">
  <h1><%=@labels[:admin_page][:title_new] %></h1>
  <form class="admin-form-new" action="/admin/pages/new" method="post">
    <fieldset class="page_general">
      <legend><%=@labels[:admin_form][:general] %></legend>
      <label for="name"><%=@labels[:admin_page][:name] %>:</label>
      <input type="text" name="name" value="">
    </fieldset>

    <%= erb :'admin/partials/_translation_forms' %>
    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>
