
  <main id="admin-locations">
    <h1 class="site-title"><%=@labels[:admin_page][:title_overview] %></h1>
    <a href="/admin/pages/new"><%=@labels[:admin_page][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul>
      <% pages.where(:published => true).each do |page| %>
        <li><a href="/admin/pages/<%=page[:id] %>"><%=page.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul>
      <% pages.where(:published => false).each do |page| %>
        <li><a href="/admin/pages/<%=page[:id] %>"><%=page.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
  </main>
