
<main id="admin-page">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/pages/#{page.id}",
                    :action_edit => "/admin/pages/edit/#{page.id}",
                    :action_toggle_publish => "/admin/pages/togglepublish/#{page.id}",
                    :is_published => page.published}
  %>

  <h2><%=@labels[:admin_form][:general] %></h2>
  <span><%=@labels[:admin_page][:name] %>: <%=page.name %></span>
  <%=
    erb :'admin/partials/_translations_view',
        :locals => {:object => page}
  %>
</main>
