
  <main id="admin-index">
    <h1 class="site-title"><%=@labels[:admin_index][:title] %></h1>
    <ul>
      <li><a href="/admin/trips/new"><%=@labels[:admin_index][:create_trip] %></a></li>
      <li><a href="/admin/locations/new"><%=@labels[:admin_index][:create_location] %></a></li>
      <li><a href="/admin/pages/new"><%=@labels[:admin_index][:create_page] %></a></li>
      <li><a href="/admin/tripcategories/new"><%=@labels[:admin_index][:create_trip_category] %></a></li>
      <li><a href="/admin/locationcategories/new"><%=@labels[:admin_index][:create_location_category] %></a></li>
      <li><a href="/admin/collections/new"><%=@labels[:admin_index][:create_collection] %></a></li>
    </ul>
    <h2><%=@labels[:admin_index][:recent_trips] %></h2>
    <ul class="thumb-list">
      <% trips.reverse_each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_index][:recent_collections] %></h2>
    <ul>
      <% collections.reverse_each do |collection| %>
        <li><a href="/admin/collections/<%=collection[:id] %>"><%=collection.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_index][:recent_locations] %></h2>
    <ul class="thumb-list">
      <% locations.reverse_each do |location| %>
        <%=
          erb :'admin/partials/_location_excerpt',
              :locals => {:location => location}
        %>
      <% end %>
    </ul>

    <h2><%=@labels[:admin_index][:recent_trip_categories] %></h2>
    <ul>
      <% tripcategories.reverse_each do |tripcategory| %>
      <li><a href="/admin/tripcategories/<%=tripcategory[:id] %>"><%=tripcategory.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>

    <h2><%=@labels[:admin_index][:recent_location_categories] %></h2>
    <ul>
      <% locationcategories.reverse_each do |locationcategory| %>
        <li><a href="/admin/locationcategories/<%=locationcategory[:id] %>"><%=locationcategory.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>

    <h2><%=@labels[:admin_index][:recent_pages] %></h2>
    <ul>
      <% pages.reverse_each do |page| %>
        <li><a href="/admin/pages/<%=page[:id] %>"><%=page.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
  </main>
