
    <main class="cf" id="site-collection">
      <div class="mobile-switch cf">
        <a href="/"><%=@labels[:client_trip][:switch_back] %></a>
        <span class="is-active" data-show-map=true><%=@labels[:client_trip][:switch_map] %></span>
        <span data-show-info=true><%=@labels[:client_trip][:switch_info] %></span>
      </div>
      <section id="sidebar">

        <h1 class="collection-title"><%=collection.translation(@lang).title %></h2>
        <img src="/images/<%=collection.image_url %>" class="collection-img" alt="">
        <p class="collection-description">
          <%=collection.translation(@lang).description %>
        </p>

        <h2 class="collection-label"><%=@labels[:client_trip][:locations_label] %></h2>
        <ul class="collection-location-list">
          <% collection.locations.each_with_index do |collection_location, index| %>
          <li class="collection-location is-collapsed" data-location-id="<%= collection_location.id %>">

            <h2 class="collection-location-title"><%= collection_location.translation(@lang)[:title] %></h2>
            <span class="collection-location-address">
              <%= collection_location.street %>,
              <%= collection_location.postal_code %>,
              <%= collection_location.city %>
            </span>
            <p class="collection-location-description">
              <img class="collection-location-image" src="/images/<%=collection_location.image_url %>" alt="">
              <%= collection_location.translation(@lang)[:description] %>
            </p>

          </li>
          <% end %>
        </ul>
      </section>
      <section id="map"></section>
    </main>

    <script>
      marker_positions = <%=collection.locations.to_json %>
    </script>
