    <main id="site-index">
      <h2 class="site-title"><%=@labels[:client_index][:title_trips] %></h2>
      <ul class="trips cf">
        <%  if trips.length > 5 then trips = trips.last(5) end %>
      <%=
        erb :'client/partials/_trip_thumb_list',
            :locals => {:trips => trips}
      %>
      </ul>

      <!-- <h2 class="site-title"><%=@labels[:client_index][:title_collections] %></h2>
      <ul class="collections cf">
      <%  if collections.length > 5 then collections = collections.last(5) end %>
      <%=
        erb :'client/partials/_collection_thumb_list',
            :locals => {:collections => collections}
      %>
      </ul> -->
    </main>
