<main id="site-page">
  <h1 class="site-title"><%=sitemap.translation(@lang).title %></h1>

  <h2><%=@labels[:client_sitemap][:pages] %></h2>
  <ul class="site-links">
    <% pages.each do |page| %>
      <li>
        <a href="/<%=page.name %>">
          <%=page.translation(@lang).title %>
        </a>
      </li>
    <% end %>
  </ul>

  <h2><%=@labels[:client_sitemap][:trips] %></h2>
  <ul class="site-links">
    <% trips.each do |trip| %>
      <li>
        <a href="/trips/<%=trip.id %>/<%=slug_from_trip_title(trip.translation(@lang).title) %>">
          <%=trip.translation(@lang).title %>
        </a>
      </li>
    <% end %>
  </ul>
</main>
