
    <main class="cf" id="site-trip">
      <div class="mobile-switch cf">
        <a href="javascript:history.back()"><%=@labels[:client_trip][:switch_back] %></a>
        <span class="is-active" data-show-map=true><%=@labels[:client_trip][:switch_map] %></span>
        <span data-show-info=true><%=@labels[:client_trip][:switch_info] %></span>
      </div>
      <section id="sidebar">
        <h1 class="trip-title"><%=trip.translation(@lang).title %></h2>
        <img src="/images/<%=trip.image_url %>" class="trip-img" alt="">
        <ul class="trip-meta">
          <li class="trip-stop-counter"><%=trip.locations.count %> <%=@labels[:client_trip][:places] %></li>
          <li class="trip-duration">~<%=trip.minutes_duration %> <%=@labels[:client_trip][:time_unit] %></li>
        </ul>
        <p class="trip-description">
          <%=trip.translation(@lang).description %>
        </p>
        <h2 class="trip-label"><%=@labels[:client_trip][:locations_label] %></h2>
        <ol class="trip-location-list">
          <% trip.locations.each_with_index do |trip_location, index| %>
          <li class="trip-location is-collapsed" data-location-id="<%= trip_location.id %>">
            <div class="trip-location-meta">
              <h2 class="trip-location-title"><%=index+1 %>. <%= trip_location.translation(@lang)[:title] %></h2>
              <span class="trip-location-address">
                <%= trip_location.street %>,
                <%= trip_location.postal_code %>, <%= trip_location.city %>
              </span>
            </div>

            <p class="trip-location-description">
              <img class="trip-location-image" src="/images/<%=trip_location.image_url %>" alt="">
              <%= trip_location.translation(@lang)[:description] %>
            </p>

          </li>
          <% end %>
        </ol>
      </section>
      <section id="map">
      </section>
    <input type="hidden" id="languageId" value="<%=@lang.id %>"></input>
    </main>

    <script>
      marker_positions = <%=trip.locations.to_json %>
    </script>
