<main id="admin-export">
  <h1 class="site-title">Export</h1>
  <a download href="/admin/export/all.json">Export all (Download)</a>
  <% models.each do |model| %>
    <h2 class="export-title"><%=model.name %></h2>
    <a download href="/admin/export/<%=model.name %>.json">Export <%=model.name %> (Download)</a>
    <pre><code class="export-preview">
      <%=modelToJSON(model).gsub("},", "},\n").gsub(": [", ": [\n").gsub("]", "\n]") %>
    </code></pre>
  <% end %>
</main>
