<main id="admin-import">
  <h1 class="site-title">Import</h1>
  <a href="/admin/import/delete_all">Delete whole DB</a>
  <form class="admin-form-import" action="/admin/import/all" method="post">
    <label for="all_json">Import all</label>
    <input type="file" name="all_json" value="">
    <button type="submit" name="submit_button">Import</button>
  </form>
  <hr>
  <!-- <% models.each do |model| %>
    <form class="admin-form-import" action="/admin/import/<%=model.name %>" method="post">
      <label for="model_json">Import <%=model.name %></label>
      <input type="file" name="model_json" value="">
      <button type="submit" name="submit_button">Import</button>
    </form>
    <hr>
  <% end %> -->

</main>
