<li data-collection-id="<%=collection.id %>" class="collection-thumb" >
  <a href="collections/<%=collection.id %>/<%=slug_from_trip_title(collection.translation(@lang).title) %>">
    <h2 class="collection-title" style="background-color: #333;"><%=collection.translation(@lang).title %></h2>
    <img src="/images/<%=collection.image_url %>" class="collection-img" alt="Collection Image">
    <ul class="trip-meta">
    </ul>
  </a>
</li>
