<form class="site-contact-form" action="/contact" method="post">
  <div class="form-wrap">
    <label for="email"><%=@labels[:client_contact][:email] %></label>
    <input type="email" name="email" value="" placeholder="<%=@labels[:client_contact][:email_placeholder] %>" required>

    <label for="name"><%=@labels[:client_contact][:name] %></label>
    <input type="text" name="name" value="" placeholder="<%=@labels[:client_contact][:name_placeholder] %>" required>

    <label for="message"><%=@labels[:client_contact][:message] %></label>
    <textarea name="message" rows="8" cols="80" required></textarea>

    <button type="submit" name="button"><%=@labels[:client_contact][:submit] %></button>
  </div>
  <div class="success-message">
    <%=@labels[:client_contact][:success_message] %>
  </div>

  <div class="error-message">
    <%=@labels[:client_contact][:error_message] %>
  </div>
</form>
