<div class="feedback-box is-closed">
  <span class="feedback-box-close"
        data-closed-text="<%=@labels[:client_feedback][:closed_button] %>"
        data-open-text="<%=@labels[:client_feedback][:open_button] %>">
        <%=@labels[:client_feedback][:closed_button] %>
  </span>
  <%= erb :'client/partials/_contact_box' %>
</div>
