<%= erb :'client/partials/_feedback_box' %>
<footer class="cf" id="site-footer">
  <div id="footer-attribution">
    <%=@labels[:client_footer][:attribution] %>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmCEUHiQfYAmsbCBtqWhXu5SmHwblRJhw&callback=initMap" async defer></script>
<script src="/js/client.js" charset="utf-8"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104217000-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
