<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dash!nto</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/client.css">
  </head>
  <body id="<%=@id_for_header %>">
    <%= erb :'client/partials/_lang_selector' %>
    <header class="cf" id="site-header">
      <div class="site-header-mobile-wrap">
        <div class="logo">
          <a href="/">
            <img src="/img/logo.png" alt="LOGO">
          </a>
        </div>
        <span class="site-header-mobile-toggle">&#9776;</span>
      </div>

      <nav id="header-nav">
        <%= erb :'client/partials/_lang_selector' %>
        <ul class="cf">
          <li class="nav-el">
            <a href="/about"><%=@labels[:client_header][:about] %></a>
          </li>
          <li class="nav-el">
            <a href="/contact"><%=@labels[:client_header][:contact] %></a>
          </li>
          <li class="nav-el">
            <a href="/imprint"><%=@labels[:client_header][:imprint] %></a>
          </li>
          <li class="nav-el">
            <a href="/sitemap"><%=@labels[:client_header][:sitemap] %></a>
          </li>
        </ul>
      </nav>
    </header>
