<div class="info_window">

    <h1 class="location_name">
      <%= location.translation(@lang)[:title] %>
    </h1>
    <span style="background-color: #<%=location.location_category.color_hex %>"
          class="location_category">
    <%= location.location_category.translation(@lang)[:title] %>
    </span>
  <span class="location_address">
    <%= location.street %>,
    <%= location.postal_code %>,
    <%= location.city %>
  </span>

  <img src="/images/<%= location.image_url %>"
       alt="Trip image"
       class="location_img">
</div>
