<li data-trip-id="<%=trip.id %>" class="trip-thumb" >
  <a href="trips/<%=trip.id %>/<%=slug_from_trip_title(trip.translation(@lang).title) %>">
    <h2 class="trip-title" style="background-color:<%=trip.trip_category.color_hex%>;"><%=trip.translation(@lang).title %></h2>
    <img src="/images/<%=trip.image_url %>" class="trip-img" alt="Trip Image">
    <ul class="trip-meta">
      <li class="trip-stop-counter"><%=trip.locations.count %> <%=@labels[:client_index][:places] %></li>
      <li class="trip-duration">~<%=trip.minutes_duration %> <%=@labels[:client_index][:time_unit] %></li>
    </ul>
  </a>
</li>
