﻿<% trips.reverse_each do |trip| %>    
	<li />       
    <a href="trips/<%=trip.id %>/<%=slug_from_trip_title(trip.translation(@lang).title) %>">
       <h2 class="trip-title"   style="background-color:<%=trip.trip_category.color_hex%>;"><%=trip.translation(@lang).title %></h2>
       <img src="/images/<%=trip.image_url %>" class="trip-img" alt="">
       <div class="trip-meta">
          <span class="trip-stop-counter"><%=trip.locations.count %> <%=@labels[:client_index][:places] %></span>
          <span class="trip-duration">~<%=trip.minutes_duration %> <%=@labels[:client_index][:time_unit] %></span>
       </div>
     </a>            
<% end %>