﻿//in script einzubaun falls einmal notwendig
var Text =
'<h1 id="location_name">
  ' +
  '<%= trip.locations[labelIndex-1].translation(@lang)[:title] %>' +
  '
</h1>' +
'<div>
  ' +
  '<span style="display:inline-block;">
    ' +
    '<fieldset class="maps_info_window_category" style="vertical-align:top; height:56px; width:124px; background-color:"
      <%= trip.locations[labelIndex-1].location_category.color_hex %>;">' +
      '<p style="text-align:center; font-size:12px; font-weight:bold;">
        ' +
        '<%= trip.locations[labelIndex-1].location_category.translation(@lang)[:title] %>' +
        '
      </p>' +
      '
    </fieldset>' +
    '<fieldset class ="maps_info_window_adress" style="height:60.5px; width:124px; vertical-align:bottom;">
      ' +
      '<p style="text-align:left; font-size:12px; font-weight:italic; color:#6b6b6b;">
        ' +
        '<%= trip.locations[labelIndex-1].street %> <br />' +
        '<%= trip.locations[labelIndex-1].postal_code %> <%= trip.locations[labelIndex-1].city %>' +
        '
      </p>' +
      '
    </fieldset>' +
    '
  </span>' +
  '<span style="display:inline;">
    ' +
    '<fieldset class ="maps_info_window_image" style="display:inline;">
      ' +
      '<img src="/images/"<%= trip.locations[labelIndex-1].image_url %>" alt="Trip image" width="150" height="100">' +
      '
    </fieldset>' +
    '
  </span>' +
  '
</div>' +
'<fieldset class ="maps_info_window_text" style="width:302px;">
  ' +
  '<%= trip.locations[labelIndex-1].translation(@lang)[:description] %>' +
  '
</fieldset>';

infoWindows.push(new google.maps.InfoWindow({
content: Text
}));
