
    <main id="site-index">
      <h1 class="site-title">Trips</h1>
      <ul class="trips cf">
        <li class="trip-thumb">
          <a href="trip.html">
            <h2 class="trip-title">Discover: Neubau</h2>
            <img src="http://via.placeholder.com/350x150" class="trip-img" alt="">
            <div class="trip-meta">
              <span class="trip-stop-counter">6 Orte</span>
              <span class="trip-duration">~2:30h</span>
            </div>
          </a>
        </li>
        <li class="trip-thumb">
          <a href="trip.html">
            <h2 class="trip-title">Discover: Innere Stadt</h2>
            <img src="http://via.placeholder.com/350x150" class="trip-img" alt="">
            <div class="trip-meta">
              <span class="trip-stop-counter">6 Orte</span>
              <span class="trip-duration">~2:30h</span>
            </div>
          </a>
        </li>
        <li class="trip-thumb">
          <a href="trip.html">
            <h2 class="trip-title">Bartour: Innere Bezirke</h2>
            <img src="http://via.placeholder.com/350x150" class="trip-img" alt="">
            <div class="trip-meta">
              <span class="trip-stop-counter">6 Orte</span>
              <span class="trip-duration">~2:30h</span>
            </div>
          </a>
        </li>
        <li class="trip-thumb">
          <a href="trip.html">
            <h2 class="trip-title">Before Sunset Tour</h2>
            <img src="http://via.placeholder.com/350x150" class="trip-img" alt="">
            <div class="trip-meta">
              <span class="trip-stop-counter">6 Orte</span>
              <span class="trip-duration">~2:30h</span>
            </div>
          </a>
        </li>
      </ul>
    </main>
