
  <main id="admin-trips">
    <h1 class="site-title"><%=@labels[:admin_trip][:title_overview] %></h1>
    <a href="/admin/trips/new"><%=@labels[:admin_trip][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul class="thumb-list">
      <% trips.where(:published => true).reverse_each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul class="thumb-list">
      <% trips.where.not(:published => true).reverse_each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
  </main>
