<main id="admin-new-trip">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/trips/#{trip.id}",
                    :action_edit => "/admin/trips/edit/#{trip.id}",
                    :action_toggle_publish => "/admin/trips/togglepublish/#{trip.id}",
                    :is_published => trip.published}
  %>

  <h1><%=@labels[:admin_trip][:title] %></h1>
  <div class="admin-new-trip" action="/admin/trips/new" method="post">
    <div class="trip_general">
      <h2><%=@labels[:admin_form][:general] %></h2>
      <label for="trip_category"><%=@labels[:admin_trip][:location_category] %></label>
      <input type="text" name="trip_category" value="<%=trip.trip_category.translation(@lang).title %>" disabled>

      <label for="minutes_duration"><%=@labels[:admin_trip][:duration] %></label>
      <input disabled type="name" name="minutes_duration" value="<%=trip.minutes_duration %>">
    </div>

    <div class="trip">
      <h2><%=@labels[:admin_trip][:trip_legend] %></h2>

      <div class="trip_locations">
        <ol class="trip_location_list">
          <% trip.locations.each do |trip_location| %>
            <% if trip_location != nil %>
            <li class="trip_location" data-location-id=""
              <%= trip_location.id %>">
              <div class="trip_location_meta">
                <span class="trip_location_title">
                  <%= trip_location.translation(@lang)[:title] %>
                </span>
                <button type="button" name="trip_location_expand">
                  <%=@labels[:admin_form][:more] %>
                </button>
              </div>
              <div class="trip_location_body">
                <p class="trip_location_description">
                  <%= trip_location.translation(@lang)[:description] %>
                </p>
              </div>
            </li>
            <% end %>
          <% end %>
        </ol>
      </div>

      <div id="trip_map"></div>
    </div>

    <%=
      erb :'admin/partials/_image_uploader',
          :locals => {:only_view => true,
                      :image_src => trip.image_url}
     %>

    <%=
      erb :'admin/partials/_translations_view',
          :locals => {:object => trip}
    %>
  </div>
</main>

<script>
  var map
  var geocoder
  var bounds

  function initMap() {
    geocoder = new google.maps.Geocoder()
    bounds = new google.maps.LatLngBounds();

    location_point = {lat: <%=trip.locations.first.latitude %>, lng: <%=trip.locations.first.longitude %>}
    map = new google.maps.Map(document.getElementById('trip_map'), {
      center: location_point,
      zoom: 17
    })

    marker_positions = <%=trip.locations.to_json %>
    marker_positions.forEach(function(position) {
      marker = new google.maps.Marker({
        position: {lat: parseFloat(position.latitude), lng: parseFloat(position.longitude)},
        map: map
      })
      bounds.extend(marker.position)
    })
    map.fitBounds(bounds);
  }
</script>
