.cf:before, .location:before, .trip:before, .trip .trip_location_meta:before, .translation-forms:before, .lang-selector:before, .admin-actionbar:before, .hex-input:before, .image_area:before, .thumb-list:before,
.cf:after,
.location:after,
.trip:after,
.trip .trip_location_meta:after,
.translation-forms:after,
.lang-selector:after,
.admin-actionbar:after,
.hex-input:after,
.image_area:after,
.thumb-list:after {
  content: " ";
  display: table; }

.cf:after, .location:after, .trip:after, .trip .trip_location_meta:after, .translation-forms:after, .lang-selector:after, .admin-actionbar:after, .hex-input:after, .image_area:after, .thumb-list:after {
  clear: both; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    color: orange; }

ul {
  list-style: none; }

.admin-form-new {
  width: 100%; }
  .admin-form-new fieldset {
    margin: 1em 0;
    width: 100%; }
  .admin-form-new label,
  .admin-form-new input,
  .admin-form-new textarea,
  .admin-form-new button {
    display: block;
    padding: .5em; }

/* Layouts */
.admin main {
  padding: 1em 15%;
  width: 100%; }

.location .location_general {
  float: left;
  margin: 0 5% 0 0;
  padding-right: 5%;
  width: 47.5%; }
  .location .location_general input,
  .location .location_general select {
    padding: .5em;
    width: 100%; }
.location #location_map {
  float: left;
  height: 500px;
  width: 47.5%; }
  .location #location_map iframe {
    width: 100%; }

.trip {
  width: 100%; }
  .trip .trip_locations {
    float: left;
    padding-right: 5%;
    width: 50%; }
  .trip .trip_location_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em; }
  .trip .trip_location {
    border-bottom: 1px solid #333;
    padding: 1em;
    width: 100%; }
    .trip .trip_location:first-child {
      border-top: 1px solid #333; }
  .trip .trip_location_meta {
    width: 100%; }
    .trip .trip_location_meta button {
      float: right; }
    .trip .trip_location_meta span {
      float: left; }
  .trip .trip_location_body {
    display: none;
    width: 100%; }
    .trip .trip_location_body.is-visible {
      display: block; }
  .trip #trip_map {
    height: 500px;
    width: 50%; }

/* HEADER */
#site-header {
  background-color: orange;
  color: #FDFEFE;
  height: 10vh;
  line-height: 10vh;
  padding: 0 10%;
  width: 100%; }
  #site-header .logo {
    float: left;
    padding: 2.5vh;
    height: 5vh;
    width: 20%; }
    #site-header .logo img {
      width: 100%; }

#header-nav {
  height: 100%;
  float: right; }
  #header-nav ul {
    margin: 0;
    list-style: none; }
  #header-nav .nav-el {
    height: 100%;
    float: left;
    padding: 0 .5em;
    vertical-align: center; }
    #header-nav .nav-el a {
      text-decoration: none; }
      #header-nav .nav-el a:hover {
        color: inherit;
        text-decoration: underline; }

/* FOOTER */
#site-footer {
  border-top: 1px solid #333;
  height: 3em;
  padding: 1em 10%;
  width: 100%; }

#footer-nav {
  float: left; }

#footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-nav .nav-el {
  float: left;
  padding: 0 .5em; }

#footer-attribution {
  float: right; }

#admin-export .export-preview {
  border: 1px solid #333;
  display: block;
  font-size: .8em;
  font-family: 'Monaco', monospace;
  margin-bottom: 1em;
  max-height: 300px;
  padding: .5em;
  overflow-y: scroll;
  width: 100%; }

#admin-import .admin-form-import label,
#admin-import .admin-form-import input,
#admin-import .admin-form-import button {
  display: block;
  margin: 1em 0; }

.translation-forms {
  border: 1px solid #333;
  padding: 1em; }

.translation-form {
  margin-right: 5%;
  float: left;
  width: 47.5%; }
  .translation-form:last-child {
    margin-right: 0; }
  .translation-form input,
  .translation-form textarea {
    max-width: 100%;
    width: 100%; }
  .translation-form .translation-lang {
    text-decoration: underline; }

.dropdown_list {
  overflow-y: scroll;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none; }
  .dropdown_list.small {
    height: 150px; }
  .dropdown_list.medium {
    height: 300px; }
  .dropdown_list.large {
    height: 450px; }
  .dropdown_list .dropdown_el {
    border-bottom: 1px solid #333;
    cursor: pointer;
    padding: .5em 1em;
    width: 100%; }
    .dropdown_list .dropdown_el:hover, .dropdown_list .dropdown_el.is-selected {
      background: orange;
      color: #FDFEFE; }
    .dropdown_list .dropdown_el.is-hidden {
      display: none; }
    .dropdown_list .dropdown_el:first-child {
      border-top: 1px solid #333; }
    .dropdown_list .dropdown_el:last-child {
      border-bottom: 0; }
    .dropdown_list .dropdown_el .dropdown_el_label {
      border-radius: 5px;
      color: #FDFEFE;
      font-size: .9em;
      padding: .25em .5em;
      text-align: center; }

.dropdown_search {
  outline: 1px solid #333; }
  .dropdown_search .dropdown_search_label {
    background-color: #555;
    color: white;
    display: block;
    font-size: .8em;
    padding: .25em;
    text-align: center;
    width: 100%; }
  .dropdown_search .dropdown_searchbox {
    padding: .5em;
    border: 0;
    font-size: 1.25em;
    width: 100%; }

.lang-selector {
  margin: 0;
  padding: .25em;
  background: #333;
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0; }
  @media (max-width: 550px) {
    .lang-selector {
      display: none; } }
  #header-nav .lang-selector {
    display: none;
    position: static;
    width: 100%; }
    @media (max-width: 550px) {
      #header-nav .lang-selector {
        display: block; } }
    #header-nav .lang-selector .lang {
      border-right: 1px solid #FDFEFE;
      padding: 1em 0;
      text-align: center;
      width: 50%; }
      #header-nav .lang-selector .lang:last-child {
        border-right: none; }
  .lang-selector .lang {
    color: #fff;
    cursor: pointer;
    float: left;
    padding: .25em; }
    .lang-selector .lang.is-active, .lang-selector .lang:hover {
      color: orange; }

.admin-actionbar {
  background-color: #333;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%; }
  .admin-actionbar .action_button {
    color: #FDFEFE;
    cursor: pointer;
    float: left;
    padding: .5em 1em; }
    .thumb .admin-actionbar .action_button {
      text-align: center;
      width: 50%; }
    .admin-actionbar .action_button:hover {
      background-color: orange; }
  .thumb .admin-actionbar {
    margin: 0; }

.hex-input {
  position: relative; }
  .hex-input .hex-symbol,
  .hex-input input {
    float: left;
    font-size: 1em;
    margin: 0;
    padding: .25em; }
  .hex-input .hex-symbol {
    background: #333;
    color: #FDFEFE;
    text-align: center;
    width: 2em; }

.color_list {
  border: 1px solid #333;
  box-shadow: 1px 1px 1px inset #333;
  cursor: pointer;
  list-style: none;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  width: 100px; }
  .color_list li {
    height: 1.5em;
    width: 100%; }

.image_area .current_image {
  float: left;
  width: 30%; }
  .image_area .current_image .preview {
    display: block;
    max-width: 100%;
    min-width: 100px;
    min-height: 100px;
    height: auto; }
.image_area .image_uploader {
  float: left;
  padding-left: 2.5%;
  width: 70%; }
  .image_area .image_uploader input,
  .image_area .image_uploader canvas,
  .image_area .image_uploader label {
    display: block;
    margin-bottom: 1em; }

.thumb-list {
  margin: 1em 0;
  padding: 0; }

.thumb {
  border: 1px solid #333;
  float: left;
  margin-bottom: 1em;
  position: relative;
  margin-right: 5%;
  width: 20%; }
  .thumb:nth-child(4n+0) {
    margin-right: 0; }
  .thumb a {
    color: inherit;
    display: block;
    width: 100%;
    text-decoration: none; }
  .thumb .thumb-title {
    font-size: 1.25em;
    margin-top: .5em;
    margin-bottom: 0;
    text-align: center; }
  .thumb .thumb-img {
    height: auto;
    margin: 0;
    width: 100%; }

/*# sourceMappingURL=admin.css.map */
