.cf:before, .site-header-mobile-wrap:before, .object-meta:before, .trip-thumb .trip-meta:before, .collection-thumb .collection-meta:before, #sidebar .trip-meta:before, #sidebar .collection-meta:before, .object-location:before, .trip-location:before, .collection-location:before, .lang-selector:before,
.cf:after,
.site-header-mobile-wrap:after,
.object-meta:after,
.trip-thumb .trip-meta:after,
.collection-thumb .collection-meta:after,
#sidebar .trip-meta:after,
#sidebar .collection-meta:after,
.object-location:after,
.trip-location:after,
.collection-location:after,
.lang-selector:after {
  content: " ";
  display: table; }

.cf:after, .site-header-mobile-wrap:after, .object-meta:after, .trip-thumb .trip-meta:after, .collection-thumb .collection-meta:after, #sidebar .trip-meta:after, #sidebar .collection-meta:after, .object-location:after, .trip-location:after, .collection-location:after, .lang-selector:after {
  clear: both; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    color: orange; }

ul {
  list-style: none; }

/* Subsites Setups */
main {
  min-height: 82.5vh;
  width: 100%; }

@media (min-width: 768px) {
  #site-index {
    padding: 1em 15%; } }
@media (min-width: 550px) and (max-width: 768px) {
  #site-index {
    padding: 1em 10%; } }
@media (max-width: 550px) {
  #site-index {
    padding: 1em 5%; } }

@media (min-width: 768px) {
  #site-page {
    padding: 1em 25%; } }
@media (min-width: 550px) and (max-width: 768px) {
  #site-page {
    padding: 1em 15%; } }
@media (max-width: 550px) {
  #site-page {
    padding: 1em 5%; } }

#site-trip {
  height: 90vh; }
  @media (max-width: 550px) {
    #site-trip {
      height: 100vh; } }

#site-trip ~ #site-footer {
  display: none; }

#site-header {
  background-color: orange;
  color: #FDFEFE;
  width: 100%; }
  #site-header .logo {
    padding: 1.25vh 0;
    height: 12.5vh; }
    #site-header .logo img {
      height: 10vh;
      width: auto; }

.site-header-mobile-wrap {
  height: 12.5vh;
  float: left; }

#header-nav ul {
  margin: 0;
  list-style: none; }
#header-nav .nav-el {
  padding: 0 .5em; }
  #header-nav .nav-el a {
    text-decoration: none; }
    #header-nav .nav-el a:hover {
      color: inherit;
      text-decoration: underline; }

.site-header-mobile-toggle {
  cursor: pointer;
  color: #FDFEFE;
  height: 100%;
  line-height: 12vh;
  float: right;
  font-size: 6vh;
  text-align: right;
  width: 25%; }
  .site-header-mobile-toggle.is-active {
    background-color: orange; }

@media (min-width: 550px) and (max-width: 768px) {
  #site-header {
    border-bottom: 1px solid #FDFEFE;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%; }

  #header-nav {
    height: 100%;
    float: right; }
    #header-nav ul {
      margin: 0;
      list-style: none; }
    #header-nav .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center; }

  .site-header-mobile-toggle {
    display: none; } }
@media (min-width: 768px) {
  #site-header {
    background-color: orange;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%; }

  #header-nav {
    height: 100%;
    float: right; }
    #header-nav ul {
      margin: 0;
      list-style: none; }
    #header-nav .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center; }
      #header-nav .nav-el a {
        text-decoration: none; }
        #header-nav .nav-el a:hover {
          color: inherit;
          text-decoration: underline; }

  .site-header-mobile-toggle {
    display: none; } }
@media (min-width: 550px) and (max-width: 768px) {
  #site-header {
    border-bottom: 1px solid #333;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%; }

  #header-nav {
    height: 100%;
    float: right; }
    #header-nav ul {
      margin: 0;
      list-style: none; }
    #header-nav .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center; }

  .site-header-mobile-toggle {
    display: none; } }
@media (max-width: 550px) {
  #site-header {
    width: 100%; }
    #is-single-trip #site-header {
      display: none; }
    #site-header .logo {
      float: left; }

  #header-nav {
    box-shadow: 2px 2px 2px #333;
    display: none;
    float: left;
    width: 100%; }
    #header-nav.is-visible {
      display: block; }
    #header-nav ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    #header-nav .nav-el {
      border-top: 1px solid #FDFEFE;
      text-align: center; }
      #header-nav .nav-el a {
        display: block;
        font-size: 1.2em;
        padding: 1em .5em;
        text-decoration: none; }

  .site-header-mobile-wrap {
    padding: 0 5%;
    width: 100%; }

  .site-header-mobile-toggle {
    display: block; } }
#site-footer {
  border-top: 1px solid #333;
  height: 7.5vh;
  padding: 1em 10%;
  width: 100%; }

#footer-attribution {
  float: left; }
  #footer-attribution .heart {
    color: orange; }

/* Trips Module */
.site-title {
  border-bottom-style: inset;
  width: 100%;
  display: block;
  margin: .25em 0;
  display: inline-block; }

.trip-filter-container {
  margin-bottom: 1em;
  border-bottom-style: inset; }

.trip-filters-off,
.trip-filters-on {
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: .25em .5em;
  margin-right: .5em;
  margin-bottom: .5em; }

.trip-filters-on {
  color: #FDFEFE; }

.object-list, .collections,
.trips {
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding: 0; }

.object-thumb, .trip-thumb, .collection-thumb {
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  float: left;
  margin-bottom: 1em;
  margin-right: 5%;
  position: relative; }
  @media (min-width: 768px) {
    .object-thumb, .trip-thumb, .collection-thumb {
      width: 30%; }
      .object-thumb:nth-child(3n+0), .trip-thumb:nth-child(3n+0), .collection-thumb:nth-child(3n+0) {
        margin-right: 0; } }
  @media (min-width: 550px) and (max-width: 768px) {
    .object-thumb, .trip-thumb, .collection-thumb {
      width: 47.5%; }
      .object-thumb:nth-child(2n+0), .trip-thumb:nth-child(2n+0), .collection-thumb:nth-child(2n+0) {
        margin-right: 0; } }
  @media (max-width: 550px) {
    .object-thumb, .trip-thumb, .collection-thumb {
      float: none;
      margin-right: 0;
      width: 100%; } }
  .object-thumb a, .trip-thumb a, .collection-thumb a {
    color: inherit;
    display: block;
    width: 100%;
    text-decoration: none; }

.object-title, .trip-thumb .trip-title, .collection-thumb .collection-title, #sidebar .trip-title, #sidebar .collection-title {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  color: #FDFEFE;
  font-size: 1.25em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0;
  text-align: center; }

.object-img, .trip-thumb .trip-img, .collection-thumb .collection-img, #sidebar .trip-img, #sidebar .collection-img {
  height: auto;
  margin: 0;
  width: 100%; }

.object-meta, .trip-thumb .trip-meta, .collection-thumb .collection-meta, #sidebar .trip-meta, #sidebar .collection-meta {
  margin: 0;
  padding: 0; }
  .object-meta li, .trip-thumb .trip-meta li, .collection-thumb .collection-meta li, #sidebar .trip-meta li, #sidebar .collection-meta li {
    border-right: 1px solid #333;
    float: left;
    padding: .25em .5em;
    text-align: center;
    width: 50%; }
    .object-meta li:last-child, .trip-thumb .trip-meta li:last-child, .collection-thumb .collection-meta li:last-child, #sidebar .trip-meta li:last-child, #sidebar .collection-meta li:last-child {
      border-right: 0; }

.trip-thumb {
  display: none; }

.collection-thumb .collection-img {
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px; }

/* SINGLE TRIP MODULE */
#object, #sidebar {
  box-shadow: 1px 1px 1px #333;
  border-right: 2px solid #333;
  float: left;
  height: 100%;
  overflow-y: scroll;
  width: 25%; }
  #object:is-hidden, #sidebar:is-hidden {
    display: none; }
  @media (min-width: 768px) {
    #object, #sidebar {
      width: 25%; } }
  @media (min-width: 550px) and (max-width: 768px) {
    #object, #sidebar {
      width: 33.33333%; } }
  @media (max-width: 550px) {
    #object, #sidebar {
      box-shadow: none;
      border-right: none;
      display: none;
      height: 85vh;
      width: 100%; } }

.object-label, #sidebar .trip-label, #sidebar .collection-label {
  background: orange;
  color: #FDFEFE;
  font-size: 1em;
  padding: .5em;
  margin: 0; }

.object-description, #sidebar .trip-description, #sidebar .collection-description {
  padding: 1em; }

.object-title, .trip-thumb .trip-title, .collection-thumb .collection-title, #sidebar .trip-title, #sidebar .collection-title {
  margin: 0;
  padding: .25em 0;
  text-align: center; }
  #sidebar .object-title, #sidebar .trip-title, #sidebar .collection-title {
    color: #333; }

.object-img, .trip-thumb .trip-img, .collection-thumb .collection-img, #sidebar .trip-img, #sidebar .collection-img {
  height: auto;
  width: 100%; }

.object-meta, .trip-thumb .trip-meta, .collection-thumb .collection-meta, #sidebar .trip-meta, #sidebar .collection-meta {
  margin: 0;
  padding: 0; }
  .object-meta li, .trip-thumb .trip-meta li, .collection-thumb .collection-meta li, #sidebar .trip-meta li, #sidebar .collection-meta li {
    border-right: 1px solid #333;
    float: left;
    padding: .25em .5em;
    text-align: center;
    width: 50%; }
    .object-meta li:last-child, .trip-thumb .trip-meta li:last-child, .collection-thumb .collection-meta li:last-child, #sidebar .trip-meta li:last-child, #sidebar .collection-meta li:last-child {
      border-right: 0; }

#object .object-meta, #sidebar .object-meta, #object .trip-thumb .trip-meta, .trip-thumb #object .trip-meta, #object .collection-thumb .collection-meta, .collection-thumb #object .collection-meta, #sidebar .trip-meta, #sidebar .collection-meta {
  border-bottom: 1px solid #333; }

.object-location-list, .trip-location-list, .collection-location-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.object-location, .trip-location, .collection-location {
  border-bottom: 1px solid #333;
  cursor: pointer;
  padding: .5em;
  width: 100%; }

.object-location-title, .trip-location-title, .collection-location-title {
  margin: 0;
  font-size: 1.25em; }

.object-location-address, .trip-location-address, .collection-location-address {
  display: block;
  width: 100%;
  margin: .5em 0;
  font-size: .8em; }

.object-location-image, .trip-location-image, .collection-location-image {
  float: left;
  margin: 0 .5em .5em 0;
  width: 20%;
  display: none; }

.object-location-description, .trip-location-description, .collection-location-description {
  margin: 0;
  padding: 0; }

.trip-location.is-collapsed .trip-location-description {
  display: none; }

#sidebar .collection-title {
  color: #333; }

.collection-location-list {
  list-style: none; }

.collection-location.is-collapsed .collection-location-description {
  display: none; }

#map {
  height: 100%; }
  #map:is-hidden {
    display: none; }
  @media (min-width: 768px) {
    #map {
      float: left;
      width: 75%; } }
  @media (min-width: 550px) and (max-width: 768px) {
    #map {
      float: left;
      width: 66.66666%; } }
  @media (max-width: 550px) {
    #map {
      display: block;
      height: 85vh;
      width: 100%; } }

.mobile-switch {
  cursor: pointer;
  display: none;
  height: 15vh;
  width: 100%; }
  .mobile-switch a {
    height: 7.5vh;
    display: block;
    line-height: 7.5vh;
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    color: #FDFEFE;
    background: #333;
    text-decoration: none; }
  .mobile-switch span {
    color: #FDFEFE;
    float: left;
    line-height: 7.5vh;
    font-size: 1.5em;
    height: 7.5vh;
    text-align: center;
    width: 50%;
    background: #aaa; }
    .mobile-switch span.is-active {
      background-color: orange; }
  @media (max-width: 550px) {
    .mobile-switch {
      display: block; } }

.site-links {
  list-style: circle; }

.site-contact-form {
  margin: 0;
  width: 100%; }
  .site-contact-form button {
    cursor: pointer;
    background-color: orange;
    border: none;
    color: #FDFEFE;
    font-size: 1em;
    padding: .5em;
    width: 100%; }
  .site-contact-form button,
  .site-contact-form label {
    display: block; }
  .site-contact-form input,
  .site-contact-form textarea {
    padding: 1em;
    width: 100%; }
  .site-contact-form label + input,
  .site-contact-form label + textarea {
    margin-bottom: 2em; }
  .site-contact-form textarea {
    max-width: 100%; }
  .site-contact-form .error-message,
  .site-contact-form .success-message {
    display: none;
    font-size: 1.5em;
    text-align: center; }
    .site-contact-form .error-message.is-visible,
    .site-contact-form .success-message.is-visible {
      display: block; }
  .site-contact-form .error-message {
    color: red; }
  .site-contact-form .success-message {
    color: green; }

.feedback-box {
  background: #FDFEFE;
  border-bottom: none;
  box-shadow: 2px 2px 2px #333;
  bottom: 0;
  color: #333;
  position: fixed;
  right: 2.5%;
  width: 300px; }
  .feedback-box .site-contact-form {
    padding: .5em;
    overflow-y: scroll;
    height: 400px; }
  .feedback-box .feedback-box-close {
    background: orange;
    color: #FDFEFE;
    cursor: pointer;
    display: block;
    padding: .25em;
    text-align: center;
    font-weight: bold;
    width: 100%; }
  .feedback-box.is-closed .site-contact-form {
    height: 0;
    padding: 0; }
  @media (max-width: 550px) {
    .feedback-box {
      display: none; } }

.lang-selector {
  margin: 0;
  padding: .25em;
  background: #333;
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0; }
  @media (max-width: 550px) {
    .lang-selector {
      display: none; } }
  #header-nav .lang-selector {
    display: none;
    position: static;
    width: 100%; }
    @media (max-width: 550px) {
      #header-nav .lang-selector {
        display: block; } }
    #header-nav .lang-selector .lang {
      border-right: 1px solid #FDFEFE;
      padding: 1em 0;
      text-align: center;
      width: 50%; }
      #header-nav .lang-selector .lang:last-child {
        border-right: none; }
  .lang-selector .lang {
    color: #fff;
    cursor: pointer;
    float: left;
    padding: .25em; }
    .lang-selector .lang.is-active, .lang-selector .lang:hover {
      color: orange; }

.info_window .location_name {
  font-size: 1.5em;
  line-height: 1.5em;
  display: inline;
  margin: 0;
  padding: .25em 0; }
.info_window .location_category {
  color: #FDFEFE;
  line-height: 1.5em;
  padding: .25em .5em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; }
.info_window .location_address {
  padding: .5em 0;
  display: block;
  width: 100%; }
.info_window .location_img {
  height: auto;
  width: 100%; }

/*# sourceMappingURL=client.css.map */
