
<main id="admin-edit-tripcategory">
  <h1><%=@labels[:admin_tripcategory][:title_edit] %></h1>
  <form class="admin-form-new" action="/admin/tripcategories/edit/<%=tripcategory.id %>" method="post">
    <fieldset>
      <legend><%=@labels[:admin_form][:general] %></legend>
      <%=
        erb :'admin/partials/_hex_input',
            :locals => {:color_hex => tripcategory.color_hex,
                        :readonly => false}
      %>
    </fieldset>

    <%=
      erb :'admin/partials/_translations_edit',
          :locals => {:object => tripcategory}
     %>

    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>

  <div>
    <ul class="thumb-list">
      <% tripcategory.trips.each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
  </div>
</main>
