<main id="admin-new-tripcategory">
  <h1><%=@labels[:admin_tripcategory][:title_new] %></h1>

  <form class="admin-form-new" action="/admin/tripcategories/new" method="post">
    <fieldset class="trip_general">
      <legend><%=@labels[:admin_form][:general] %></legend>
      <%=
        erb :'admin/partials/_hex_input',
            :locals => {:color_hex => "",
                        :readonly => false}
      %>
    </fieldset>

    <%= erb :'admin/partials/_translation_forms' %>

    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>
