
  <main id="admin-tripcategories">
    <h1 class="site-title"><%=@labels[:admin_tripcategory][:title_overview] %></h1>
    <a href="/admin/tripcategories/new"><%=@labels[:admin_tripcategory][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul>
      <% tripcategories.where(:published => true).each do |tripcategory| %>
        <li><a href="/admin/tripcategories/<%=tripcategory[:id] %>"><%=tripcategory.translation(@lang)[:title] %></a></li>
      <% end %>
      <li><a href="/admin/tripcategories/new"><%=@labels[:admin_tripcategory][:create] %></a></li>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul>
      <% tripcategories.where(:published => false).each do |tripcategory| %>
        <li><a href="/admin/tripcategories/<%=tripcategory[:id] %>"><%=tripcategory.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
  </main>
