
<main id="admin-tripcategory">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/tripcategories/#{tripcategory.id}",
                    :action_edit => "/admin/tripcategories/edit/#{tripcategory.id}",
                    :action_toggle_publish => "/admin/tripcategories/togglepublish/#{tripcategory.id}",
                    :is_published => tripcategory.published}
  %>

  <div class="tripcategory">
    <h2><%=@labels[:admin_form][:general] %></h2>
    <%=
      erb :'admin/partials/_hex_input',
          :locals => {:color_hex => tripcategory.color_hex,
                      :readonly => true}
    %>

  </div>
  <%=
    erb :'admin/partials/_translations_view',
        :locals => {:object => tripcategory}
  %>

  <div>
    <ul class="thumb-list">
      <% tripcategory.trips.each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
  </div>
</main>
</main>
