
.site-contact-form {
  margin: 0;
  width: 100%;

  button {
    cursor: pointer;
    background-color: $main-color;
    border: none;
    color: $off-white;
    font-size: 1em;
    padding: .5em;
    width: 100%;
  }

  button,
  label {
    display: block;
  }

  input,
  textarea {
    padding: 1em;
    width: 100%;
  }

  label + input,
  label + textarea {
    margin-bottom: 2em;
  }

  textarea {
    max-width: 100%;
  }

  .error-message,
  .success-message {
    display: none;
    font-size: 1.5em;
    text-align: center;
    &.is-visible {
      display: block;
    }
  }

  .error-message {
    color: red;
  }

  .success-message {
    color: green;
  }

}

// Feedback Box

.feedback-box {
  background: $off-white;
  border-bottom: none;
  box-shadow: 2px 2px 2px $off-black;
  bottom: 0;
  color: $off-black;
  position: fixed;
  right: 2.5%;
  width: 300px;

  .site-contact-form {
    padding: .5em;
    overflow-y: scroll;
    height: 400px;
  }

  .feedback-box-close {
    background: $main-color;
    color: $off-white;
    cursor: pointer;
    display: block;
    padding: .25em;
    text-align: center;
    font-weight: bold;
    width: 100%;
  }

  &.is-closed {
    .site-contact-form {
      height: 0;
      padding: 0;
    }
  }

  @include bp($mobile) {
    display: none;
  }
}
