.info_window {
  .location_name {
    font-size: 1.5em;
    line-height: 1.5em;
    display: inline;
    margin: 0;
    padding: .25em 0;
  }

  .location_category {
    color: $off-white;
    line-height: 1.5em;
    padding: .25em .5em;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }

  .location_address {
    padding: .5em 0;
    display: block;
    width: 100%;
  }

  .location_img {
    height: auto;
    width: 100%;
  }
}
