.lang-selector {
  @extend .cf;
  margin: 0;
  padding: .25em;
  background: $off-black;
  width: auto;
  position: fixed;
  bottom: 0;
  left: 0;

  @include bp($mobile) {
    display: none;
  }

  #header-nav & {
    display: none;
    position: static;
    width: 100%;

    @include bp($mobile) {
      display: block;
    }

    .lang {
      border-right: 1px solid $off-white;
      padding: 1em 0;
      text-align: center;
      width: 50%;

      &:last-child {
        border-right: none;
      }
    }
  }
  .lang {
    color: #fff;
    cursor: pointer;
    float: left;
    padding: .25em;

    &.is-active,
    &:hover {
      color: orange;
    }
  }
}
