/* SINGLE TRIP MODULE */

#object {
  box-shadow: 1px 1px 1px $off-black;
  border-right: 2px solid $off-black;
  float: left;
  height: 100%;
  overflow-y: scroll;
  width: 25%;

  &:is-hidden {
    display: none;
  }

  @include bp($desktop) {
    width: 25%;
  }

  @include bp($tablet) {
    width: 33.33333%;
  }

  @include bp($mobile) {
    box-shadow: none;
    border-right: none;
    display: none;
    height: 85vh;
    width: 100%;
  }
}

.object-label {
  background: $main-color;
  color: $off-white;
  font-size: 1em;
  padding: .5em;
  margin: 0;
}

.object-description {
  padding: 1em;
}

.object-title {
  margin: 0;
  padding: .25em 0;
  text-align: center;
  #sidebar & {
    color: #333;
  }
}

.object-img {
  height: auto;
  width: 100%;
}

.object-meta {
  @extend .cf;
  margin: 0;
  padding: 0;
  li {
    border-right: 1px solid $off-black;
    float: left;
    padding: .25em .5em;
    text-align: center;
    width: 50%;

    &:last-child {
      border-right: 0
    }
  }
}


#object .object-meta {
  border-bottom: 1px solid $off-black;
}

.object-location-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.object-location {
  @extend .cf;
  border-bottom: 1px solid $off-black;
  cursor: pointer;
  padding: .5em;
  width: 100%;
}

.object-location-title {
  margin: 0;
  font-size: 1.25em;
}

.object-location-address {
  display: block;
  width: 100%;
  margin: .5em 0;
  font-size: .8em;
}

.object-location-image {
  float: left;
  margin: 0 .5em .5em 0;
  width: 20%;
  display: none;
}

.object-location-description {
  margin: 0;
  padding: 0;
}

#sidebar {
  @extend #object;


  .trip-label {
    @extend .object-label;
  }

  .trip-description {
    @extend .object-description;
  }

  .trip-title {
    @extend .object-title;
  }

  .trip-img {
    @extend .object-img;
  }

  .trip-meta {
    @extend .object-meta;
  }
}

.trip-location-list {
  @extend .object-location-list;
}


.trip-location {
  @extend .object-location;
}


.trip-location-title {
  @extend .object-location-title;
}

.trip-location-address {
  @extend .object-location-address;
}

.trip-location-image {
  @extend .object-location-image;
}

.trip-location-description {
  @extend .object-location-description;

  .trip-location.is-collapsed & {
    display: none;
  }
}

#sidebar {
  @extend #object;


  .collection-label {
    @extend .object-label;
  }

  .collection-description {
    @extend .object-description;
  }

  .collection-title {
    @extend .object-title;
    color: $off-black;
  }

  .collection-img {
    @extend .object-img;
  }

  .collection-meta {
    @extend .object-meta;
  }
}

.collection-location-list {
  @extend .object-location-list;
  list-style: none;
}

.collection-location {
  @extend .object-location;
}

.collection-location-title {
  @extend .object-location-title;
}

.collection-location-address {
  @extend .object-location-address;
}

.collection-location-image {
  @extend .object-location-image;
}

.collection-location-description {
  @extend .object-location-description;

  .collection-location.is-collapsed & {
    display: none;
  }
}

#map {
  height: 100%;

  &:is-hidden {
    display: none;
  }

  @include bp($desktop) {
    float: left;
    width: 75%;
  }

  @include bp($tablet) {
    float: left;
    width: 66.66666%;
  }

  @include bp($mobile) {
    display: block;
    height: 85vh;
    width: 100%;
  }
}

.mobile-switch {
  cursor: pointer;
  display: none;
  height: 15vh;
  width: 100%;

  a {
    height: 7.5vh;
    display: block;
    line-height: 7.5vh;
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    color: $off-white;
    background: $off-black;
    text-decoration: none;
  }

  span {
    color: $off-white;
    float: left;
    line-height: 7.5vh;
    font-size: 1.5em;
    height: 7.5vh;
    text-align: center;
    width: 50%;
    background: #aaa;

    &.is-active {
      background-color: $main-color;
    }
  }


  @include bp($mobile) {
    display: block;
  }
}
