/* Subsites Setups */

main {
  min-height: 82.5vh;
  width: 100%;
}

#site-index {
  @include bp($desktop) {
    padding: 1em 15%;
  }

  @include bp($tablet) {
    padding: 1em 10%;
  }

  @include bp($mobile) {
    padding: 1em 5%;
  }
}

#site-page {
  @include bp($desktop) {
    padding: 1em 25%;
  }

  @include bp($tablet) {
    padding: 1em 15%;
  }

  @include bp($mobile) {
    padding: 1em 5%;
  }
}

#site-trip {
  height: 90vh;
  @include bp($mobile) {
    height: 100vh;
  }
}

#site-trip ~ #site-footer{
  display: none;
}
