/* Trips Module */

.site-title {
  border-bottom-style: inset;
  width: 100%;
  display: block;
  margin: .25em 0;
  display: inline-block;
}

.trip-filter-container {
  margin-bottom: 1em;
  border-bottom-style: inset;
}

.trip-filters-off,
.trip-filters-on {
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding: .25em .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.trip-filters-on {
  color: $off-white;
}

.object-list {
  list-style: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

.object-thumb {
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-border-radius:7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  float: left;
  margin-bottom: 1em;
  margin-right: 5%;
  position: relative;

  @include bp($desktop) {
    width: 30%;
    &:nth-child(3n+0) {
      margin-right: 0;
    }
  }

  @include bp($tablet) {
    width: 47.5%;
    &:nth-child(2n+0) {
      margin-right: 0;
    }
  }

  @include bp($mobile) {
    float: none;
    margin-right: 0;
    width: 100%;
  }

  a {
    color: inherit;
    display: block;
    width: 100%;
    text-decoration: none;
  }
}

.object-title {
  -moz-border-radius:7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  color: $off-white;
  font-size: 1.25em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0;
  text-align: center;
}

.object-img {
  height: auto;
  margin: 0;
  width: 100%;
}

.object-meta {
  @extend .cf;
  margin: 0;
  padding: 0;
  li {
    border-right: 1px solid $off-black;
    float: left;
    padding: .25em .5em;
    text-align: center;
    width: 50%;

    &:last-child {
      border-right: 0
    }
  }
}

.collections,
.trips {
  @extend .object-list;
}

.trip-thumb {
  @extend .object-thumb;
  display: none;

  .trip-title {
    @extend .object-title;
  }

  .trip-img {
    @extend .object-img;
  }

  .trip-meta {
    @extend .object-meta;
  }
}

.collection-thumb {
  @extend .object-thumb;
  .collection-title {
    @extend .object-title;
  }

  .collection-img {
    @extend .object-img;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius:  0 0 7px 7px;
    border-radius:  0 0 7px 7px;
  }

  .collection-meta {
    @extend .object-meta;
  }
}
