#site-header {
  background-color: $main-color;
  color: $off-white;
  width: 100%;

  .logo {
    padding: 1.25vh 0;
    height: 12.5vh;
    img {
      height: 10vh;
      width: auto;
    }
  }
}

.site-header-mobile-wrap {
  @extend .cf;
  height: 12.5vh;
  float: left;
}

#header-nav {
  ul {
    margin: 0;
    list-style: none;
  }

  .nav-el {
    padding: 0 .5em;

    a {
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

.site-header-mobile-toggle {
  cursor: pointer;
  color: $off-white;
  height: 100%;
  line-height: 12vh;
  float: right;
  font-size: 6vh;
  text-align: right;
  width: 25%;

  &.is-active {
    background-color: $main-color;
  }
}

@media #{$tablet} {
  #site-header {
    border-bottom: 1px solid $off-white;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%;
  }

  #header-nav {
    height: 100%;
    float: right;

    ul {
      margin: 0;
      list-style: none;
    }

    .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center;
    }

  }

  .site-header-mobile-toggle {
    display: none;
  }
}

@media #{$desktop} {
  #site-header {
    background-color: $main-color;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%;
  }

  #header-nav {
    height: 100%;
    float: right;

    ul {
      margin: 0;
      list-style: none;
    }

    .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center;

      a {
        text-decoration: none;
        &:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }

  .site-header-mobile-toggle {
    display: none;
  }
}

@media #{$tablet} {
  #site-header {
    border-bottom: 1px solid $off-black;
    height: 12.5vh;
    line-height: 12.5vh;
    padding: 0 10%;
    width: 100%;
  }

  #header-nav {
    height: 100%;
    float: right;

    ul {
      margin: 0;
      list-style: none;
    }

    .nav-el {
      height: 100%;
      float: left;
      padding: 0 .5em;
      vertical-align: center;
    }

  }

  .site-header-mobile-toggle {
    display: none;
  }
}

@media #{$mobile} {
  #site-header {
    width: 100%;

    #is-single-trip & {
      display: none;
    }

    .logo {
      float: left;
    }
  }

  #header-nav {
    box-shadow: 2px 2px 2px $off-black;
    display: none;
    float: left;
    width: 100%;

    &.is-visible {
      display: block;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .nav-el {
      border-top: 1px solid $off-white;
      text-align: center;

      a {
        display: block;
        font-size: 1.2em;
        padding: 1em .5em;
        text-decoration: none;
      }
    }
  }

  .site-header-mobile-wrap {
    padding: 0 5%;
    width: 100%;
  }

  .site-header-mobile-toggle {
    display: block;
  }
}
