* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $main-color;
  }
}

ul {
  list-style: none;
}
