$main-font: "Open Sans", Arial, sans-serif;
$main-color: orange;
//$main-color: #3e3d3d;
$off-black: #333;
$off-white: #FDFEFE;

$mobile: "(max-width: 550px)";
$tablet: "(min-width: 550px) and (max-width: 768px)";
$desktop: "(min-width: 768px)";
