
<main id="admin-edit-location">
  <h1><%=@labels[:admin_location][:title_edit] %></h1>
  <form class="admin-new-location" action="/admin/locations/edit/<%=location.id %>" method="post">
    <div class="location">
      <fieldset class="location_general">
        <legend><%=@labels[:admin_form][:general] %></legend>
        <label for="search_map"><%=@labels[:admin_form][:search_address] %></label>
        <input class="autocomplete" type="name" name="search_location" value="">

        <hr>
        <label for="street"><%=@labels[:admin_location][:street] %></label>
        <input type="name" name="street" value="<%=location.street %>">

        <label for="city"><%=@labels[:admin_location][:city] %></label>
        <input type="name" name="city" value="<%=location.city %>">

        <label for="postal_code"><%=@labels[:admin_location][:postal_code] %></label>
        <input type="name" name="postal_code" value="<%=location.postal_code %>">

        <label for="country_code"><%=@labels[:admin_location][:country_code] %></label>
        <input type="name" name="country_code" value="<%=location.country_code %>">

        <label for="latitude"><%=@labels[:admin_location][:latitude] %></label>
        <input type="name" name="latitude" value="<%=location.latitude %>">

        <label for="longitude"><%=@labels[:admin_location][:longitude] %></label>
        <input type="name" name="longitude" value="<%=location.longitude %>">

        <hr>

        <label for="minutes_duration"><%=@labels[:admin_location][:duration] %></label>
        <input type="name" name="minutes_duration" value="<%=location.minutes_duration %>">

        <label for="location_category"><%=@labels[:admin_location][:location_category] %></label>
        <select name="location_category">
          <% location_categories.each do |lc| %>
            <% selected = lc == location.location_category ? "selected" : "" %>
            <option <%=selected %> value="<%=lc.id %>">
              <%=lc.translation(@lang)[:title] %>
            </option>
          <% end %>
        </select>
      </fieldset>

      <div id="location_map">
      </div>
    </div>

    <%=
      erb :'admin/partials/_image_uploader',
      :locals => {:only_view => false,
      :image_src => location.image_url}
    %>


    <!-- <%=
      erb :'admin/partials/_image_uploader',
      :locals => {:only_view => false,
      :image_src => location.image_url}
    %> -->

    <%=
      erb :'admin/partials/_translations_edit',
          :locals => {:object => location}
     %>

        <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>

  <div>
    <ul class="thumb-list">
      <% location.trips.each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
  </div>
</main>

<script>
var map;
var geocoder;
function initMap() {
  geocoder = new google.maps.Geocoder()
  location_point = {lat: <%=location.latitude %>, lng: <%=location.longitude %>}
  map = new google.maps.Map(document.getElementById('location_map'), {
    center: location_point,
    zoom: 17
  })
  marker = new google.maps.Marker({
    position: location_point,
    map: map
  })
}
</script>
