
  <main id="admin-locations">
    <h1 class="site-title"><%=@labels[:admin_location][:title_overview] %></h1>
    <a href="/admin/locations/new"><%=@labels[:admin_location][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul class="thumb-list">
      <% locations.where(:published => true).each do |location| %>
        <%=
          erb :'admin/partials/_location_excerpt',
              :locals => {:location => location}
        %>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul class="thumb-list">
      <% locations.where(:published => false).each do |location| %>
        <%=
          erb :'admin/partials/_location_excerpt',
              :locals => {:location => location}
        %>
      <% end %>
    </ul>
  </main>
