
<main id="admin-location">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/locations/#{location.id}",
                    :action_edit => "/admin/locations/edit/#{location.id}",
                    :action_toggle_publish => "/admin/locations/togglepublish/#{location.id}",
                    :is_published => location.published}
  %>

  <h2><%=@labels[:admin_form][:general] %></h2>
  <div class="location">
    <div class="location_general">
      <label for="street"><%=@labels[:admin_location][:street] %></label>
      <input disabled type="name" name="street" value="<%=location.street %>">

      <label for="city"><%=@labels[:admin_location][:city] %></label>
      <input disabled type="name" name="city" value="<%=location.city %>">

      <label for="postal_code"><%=@labels[:admin_location][:postal_code] %></label>
      <input disabled type="name" name="postal_code" value="<%=location.postal_code %>">

      <label for="country_code"><%=@labels[:admin_location][:country_code] %></label>
      <input disabled type="name" name="country_code" value="<%=location.country_code %>">

      <label for="latitude"><%=@labels[:admin_location][:latitude] %></label>
      <input disabled type="name" name="latitude" value="<%=location.latitude %>">

      <label for="longitude"><%=@labels[:admin_location][:longitude] %></label>
      <input disabled type="name" name="longitude" value="<%=location.longitude %>">

      <label for="minutes_duration"><%=@labels[:admin_location][:duration] %></label>
      <input disabled type="name" name="minutes_duration" value="<%=location.minutes_duration %>">

      <label for="location_category"><%=@labels[:admin_location][:location_category] %></label>
      <input disabled type="name" name="location_category" value="<%=location.location_category.translation(@lang).title %>">


    </div>
    <div id="location_map">
    </div>
  </div>

  <%=
    erb :'admin/partials/_image_uploader',
        :locals => {:only_view => true,
                    :image_src => location.image_url}
   %>

  <%=
    erb :'admin/partials/_translations_view',
        :locals => {:object => location}
  %>

  <div class="location_trips">
    <ul class="thumb-list">
      <% location.trips.each do |trip| %>
        <%=
          erb :'admin/partials/_trip_excerpt',
              :locals => {:trip => trip}
        %>
      <% end %>
    </ul>
  </div>

</main>

<script>
var map;
var geocoder;
function initMap() {
  geocoder = new google.maps.Geocoder()
  location_point = {lat: <%=location.latitude %>, lng: <%=location.longitude %>}
  map = new google.maps.Map(document.getElementById('location_map'), {
    center: location_point,
    zoom: 17
  })
  marker = new google.maps.Marker({
    position: location_point,
    map: map
  })
}
</script>
