
<main id="admin-new-location">
  <h1><%=@labels[:admin_location][:title_new] %></h1>

  <form class="admin-new-location" action="/admin/locations/new" method="post">
    <div class="location">
      <fieldset class="location_general">
        <legend><%=@labels[:admin_form][:general] %></legend>
        <label for="search_map"><%=@labels[:admin_form][:search_address] %></label>
        <input class="autocomplete" type="name" name="search_location" value="">

        <hr>
        <label for="street"><%=@labels[:admin_location][:street] %></label>
        <input type="name" name="street" value="">

        <label for="city"><%=@labels[:admin_location][:city] %></label>
        <input type="name" name="city" value="">

        <label for="postal_code"><%=@labels[:admin_location][:postal_code] %></label>
        <input type="name" name="postal_code" value="">

        <label for="country_code"><%=@labels[:admin_location][:country_code] %></label>
        <input type="name" name="country_code" value="">

        <label for="latitude"><%=@labels[:admin_location][:latitude] %></label>
        <input type="name" name="latitude" value="">

        <label for="longitude"><%=@labels[:admin_location][:longitude] %></label>
        <input type="name" name="longitude" value="">

        <hr>

        <label for="minutes_duration"><%=@labels[:admin_location][:duration] %></label>
        <input type="name" name="minutes_duration" value="">

        <label for="location_category"><%=@labels[:admin_location][:location_category] %></label>
        <select name="location_category">
          <% location_categories.each do |lc| %>
          <option value="<%=lc.id %>"><%=lc.translation(@lang)[:title] %></option>
          <% end %>
        </select>
      </fieldset>

      <div id="location_map">
      </div>
    </div>

    <%=
      erb :'admin/partials/_image_uploader',
          :locals => {:only_view => false,
                      :image_src => ""}
     %>
     
    <%= erb :'admin/partials/_translation_forms' %>

    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>

<script>
  var map;
  var geocoder;
  function initMap() {
  geocoder = new google.maps.Geocoder()
  map = new google.maps.Map(document.getElementById('location_map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 17
  })
  }

</script>
