<main id="admin-new-trip">
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/collections/#{collection.id}",
                    :action_edit => "/admin/collections/edit/#{collection.id}",
                    :action_toggle_publish => "/admin/collections/togglepublish/#{collection.id}",
                    :is_published => collection.published}
  %>

  <h1><%=@labels[:admin_trip][:title] %></h1>
  <div class="admin-new-trip" action="/admin/collections/new" method="post">
    <div class="trip_general">
      <h2><%=@labels[:admin_form][:general] %></h2>
    </div>

    <div class="trip">
      <h2><%=@labels[:admin_trip][:trip_legend] %></h2>

      <div class="trip_locations">
        <ol class="trip_location_list">
          <% collection.locations.each do |collection_location| %>
            <% if collection_location != nil %>
            <li class="trip_location" data-location-id=""
              <%=collection_location.id %>">
              <div class="trip_location_meta">
                <span class="trip_location_title">
                  <%=collection_location.translation(@lang)[:title] %>
                </span>
                <button type="button" name="trip_location_expand">
                  <%=@labels[:admin_form][:more] %>
                </button>
              </div>
              <div class="trip_location_body">
                <p class="trip_location_description">
                  <%=collection_location.translation(@lang)[:description] %>
                </p>
              </div>
            </li>
            <% end %>
          <% end %>
        </ol>
      </div>

      <div id="trip_map"></div>
    </div>

    <%=
      erb :'admin/partials/_image_uploader',
          :locals => {:only_view => true,
                      :image_src => collection.image_url}
     %>


    <%=
      erb :'admin/partials/_translations_view',
          :locals => {:object => collection}
    %>
  </div>
</main>

<script>
  var map
  var geocoder
  var bounds

  function initMap() {
    geocoder = new google.maps.Geocoder()
    bounds = new google.maps.LatLngBounds();

    location_point = {lat: <%=collection.locations.first.latitude %>, lng: <%=collection.locations.first.longitude %>}
    map = new google.maps.Map(document.getElementById('trip_map'), {
      center: location_point,
      zoom: 17
    })

    marker_positions = <%=collection.locations.to_json %>
    marker_positions.forEach(function(position) {
      marker = new google.maps.Marker({
        position: {lat: parseFloat(position.latitude), lng: parseFloat(position.longitude)},
        map: map
      })
      bounds.extend(marker.position)
    })
    map.fitBounds(bounds);
  }
</script>
