
  <main id="admin-trips">
    <h1 class="site-title"><%=@labels[:admin_trip][:title_overview] %></h1>
    <a href="/admin/trips/new"><%=@labels[:admin_trip][:create] %></a>
    <h2><%=@labels[:admin_form][:published] %></h2>
    <ul class="thumb-list">
      <% collections.where(:published => true).reverse_each do |collection| %>
        <li><a href="/admin/collections/<%=collection[:id] %>"><%=collection.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
    <h2><%=@labels[:admin_form][:unpublished] %></h2>
    <ul class="thumb-list">
      <% collections.where.not(:published => true).reverse_each do |collection| %>
        <li><a href="/admin/collections/<%=collection[:id] %>"><%=collection.translation(@lang)[:title] %></a></li>
      <% end %>
    </ul>
  </main>
