
<main id="admin-edit-trip">
  <h1><%=@labels[:admin_trip][:title_edit] %></h1>
  <form class="admin-new-trip" action="/admin/collections/edit/<%=collection.id %>" method="post">
    <fieldset class="trip_general">
      <legend><%=@labels[:admin_form][:general] %></legend>
    </fieldset>

    <fieldset class="trip">
      <legend><%=@labels[:admin_trip][:trip_legend] %></legend>

      <div class="trip_locations">
        <%=
          erb :'admin/partials/_location_search_dropdown',
              :locals => {:locations => locations,
                          :locations_selected => collection.locations}
         %>

        <ol class="trip_location_list">
          <% collection.locations.each do |collection_location| %>
          <li class="trip_location" data-location-id="<%=collection_location.id %>">
            <div class="trip_location_meta">
              <span class="trip_location_title"><%=collection_location.translation(@lang)[:title] %></span>
              <button type="button" name="trip_location_expand"><%=@labels[:admin_form][:more] %></button>
            </div>
            <div class="trip_location_body">
              <p class="trip_location_description"><%=collection_location.translation(@lang)[:description] %></p>
            </div>
          </li>
          <% end %>
        </ol>
      </div>

      <div id="trip_map"></div>
    </fieldset>

    <%=
      erb :'admin/partials/_image_uploader',
          :locals => {:only_view => false,
                      :image_src => collection.image_url}
     %>

    <%=
      erb :'admin/partials/_translations_edit',
          :locals => {:object => collection}
     %>

    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>

<script>
  var map
  var geocoder
  var bounds
  var markers = []

  function initMap() {
    geocoder = new google.maps.Geocoder()
    bounds = new google.maps.LatLngBounds();

    location_point = {lat: <%=collection.locations.first.latitude %>, lng: <%=collection.locations.first.longitude %>}
    map = new google.maps.Map(document.getElementById('trip_map'), {
      center: location_point,
      zoom: 17
    })

    marker_positions = <%=collection.locations.to_json %>
    marker_positions.forEach(function(position) {
      marker = new google.maps.Marker({
        position: {lat: parseFloat(position.latitude), lng: parseFloat(position.longitude)},
        map: map
      })
      markers.push(marker)
      bounds.extend(marker.position)
    })
    map.fitBounds(bounds);
  }
</script>
