
<main id="admin-new-trip">
  <h1><%=@labels[:admin_trip][:title_new] %></h1>

  <form class="admin-new-trip" enctype="multipart/form-data" action="/admin/collections/new" method="post">
    <fieldset class="trip_general">
      <legend><%=@labels[:admin_form][:general] %></legend>
    </fieldset>

    <fieldset class="trip">
      <legend><%=@labels[:admin_trip][:trip_legend] %></legend>

      <div class="trip_locations">
        <%=
          erb :'admin/partials/_location_search_dropdown',
              :locals => {:locations => locations,
                          :locations_selected => []}
         %>

        <ol class="trip_location_list"></ol>
      </div>

      <div id="trip_map"></div>
    </fieldset>

    <%=
      erb :'admin/partials/_image_uploader',
      :locals => {:only_view => false,
      :image_src => ""}
    %>


    <%= erb :'admin/partials/_translation_forms' %>

    <button type="submit" name="submit_button"><%=@labels[:admin_form][:save] %></button>
  </form>
</main>

<script>
  var bounds
  var geocoder
  var map
  var markers = []
  function initMap() {
    bounds = new google.maps.LatLngBounds()
    geocoder = new google.maps.Geocoder()
    map = new google.maps.Map(document.getElementById('trip_map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 17
    })
  }
</script>
