.admin-actionbar {
  @extend .cf;
  background-color: $off-black;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;

  .action_button {
    color: $off-white;
    cursor: pointer;
    float: left;
    padding: .5em 1em;

    .thumb & {
      text-align: center;
      width: 50%;
    }

    &:hover {
      background-color: $main-color;
    }
  }

  .thumb & {
    margin: 0;

  }
}
