// TRIP View

.trip {
  @extend .cf;
  width: 100%;

  .trip_locations {
    float: left;
    padding-right: 5%;
    width: 50%;
  }

  .trip_location_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
  }

  .trip_location {
    border-bottom: 1px solid $off-black;
    padding: 1em;
    width: 100%;

    &:first-child {
      border-top: 1px solid $off-black;
    }
  }

  .trip_location_meta {
    @extend .cf;
    width: 100%;
    button {
      float: right;
    }
    span {
      float: left;
    }
  }

  .trip_location_body {
    display: none;
    width: 100%;
    &.is-visible {
      display: block;
    }
  }

  #trip_map {
    height: 500px;
    width: 50%;
  }
}
