// Location View

.location {
  @extend .cf;
  .location_general {
    float: left;
    margin: 0 5% 0 0;
    padding-right: 5%;
    width: 47.5%;

    input,
    select {
      padding: .5em;
      width: 100%;
    }
  }

  #location_map {
    float: left;
    height: 500px;
    width: 47.5%;

    iframe {
      width: 100%;
    }
  }

}
