// Dropdown Module

.dropdown_list {
  overflow-y: scroll;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;

  &.small {
    height: 150px;
  }

  &.medium {
    height: 300px;
  }

  &.large {
    height: 450px;
  }

  .dropdown_el {
    border-bottom: 1px solid $off-black;
    cursor: pointer;
    padding: .5em 1em;
    width: 100%;

    &:hover,
    &.is-selected {
      background: $main-color;
      color: $off-white;
    }

    &.is-hidden {
      display: none;
    }

    &:first-child {
      border-top: 1px solid $off-black;
    }

    &:last-child {
      border-bottom: 0;
    }

    .dropdown_el_label {
      border-radius: 5px;
      color: $off-white;
      font-size: .9em;
      padding: .25em .5em;
      text-align:center;
    }
  }
}

.dropdown_search {
  outline: 1px solid $off-black;

  .dropdown_search_label {
    background-color: #555;
    color: white;
    display: block;
    font-size: .8em;
    padding: .25em;
    text-align: center;
    width: 100%;
  }

  .dropdown_searchbox {
    padding: .5em;
    border: 0;
    font-size: 1.25em;
    width: 100%;
  }
}
