/* FOOTER */

#site-footer {
  border-top: 1px solid $off-black;
  height: 3em;
  padding: 1em 10%;
  width: 100%;
}

#footer-nav {
  float: left;
}

#footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-nav .nav-el {
  float: left;
  padding: 0 .5em;
}

#footer-attribution {
  float: right;
}
