/* HEADER */

#site-header {
  background-color: $main-color;
  color: $off-white;
  height: 10vh;
  line-height: 10vh;
  padding: 0 10%;
  width: 100%;

  .logo {
    float: left;
    padding: 2.5vh;
    height: 5vh;
    width: 20%;

    img {
      width: 100%;
    }
  }
}

#header-nav {
  height: 100%;
  float: right;

  ul {
    margin: 0;
    list-style: none;
  }

  .nav-el {
    height: 100%;
    float: left;
    padding: 0 .5em;
    vertical-align: center;

    a {
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
