.hex-input {
  @extend .cf;
  position: relative;

  .hex-symbol,
  input {
    float: left;
    font-size: 1em;
    margin: 0;
    padding: .25em;
  }

  .hex-symbol {
    background: $off-black;
    color: $off-white;
    text-align: center;
    width: 2em;
  }
}

.color_list {
  border: 1px solid $off-black;
  box-shadow: 1px 1px 1px inset $off-black;
  cursor: pointer;
  list-style: none;
  padding: 0;
  max-height: 100px;
  overflow-y: scroll;
  width: 100px;

  li {
    height: 1.5em;
    width: 100%;
  }
}
