.image_area {
  @extend .cf;

  .current_image {
    float: left;
    width: 30%;
    .preview {
      display: block;
      max-width: 100%;
      min-width: 100px;
      min-height: 100px;
      height: auto;
    }
  }

  .image_uploader {
    float: left;
    padding-left: 2.5%;
    width: 70%;
    input,
    canvas,
    label {
      display: block;
      margin-bottom: 1em;
    }
  }
}
