#admin-export {
  .export-preview {
    border: 1px solid $off-black;
    display: block;
    font-size: .8em;
    font-family: 'Monaco', monospace;
    margin-bottom: 1em;
    max-height: 300px;
    padding: .5em;
    overflow-y: scroll;
    width: 100%;
  }
}
#admin-import {
  .admin-form-import {
    label,
    input,
    button {
      display: block;
      margin: 1em 0;
    }
  }
}
