.thumb-list {
  @extend .cf;
  margin: 1em 0;
  padding: 0;
}

.thumb {
  border: 1px solid $off-black;
  float: left;
  margin-bottom: 1em;
  position: relative;

  margin-right: 5%;

  width: 20%;

  &:nth-child(4n+0) {
    margin-right: 0;
  }

  a {
    color: inherit;
    display: block;
    width: 100%;
    text-decoration: none;
  }

  .thumb-title {
    font-size: 1.25em;
    margin-top: .5em;
    margin-bottom: 0;
    text-align: center;
  }

  .thumb-img {
    height: auto;
    margin: 0;
    width: 100%;
  }
}
