// Translation Module

.translation-forms {
  @extend .cf;
  border: 1px solid $off-black;
  padding: 1em;
}

.translation-form {
  margin-right: 5%;
  float: left;
  width: 47.5%;

  &:last-child {
    margin-right: 0;
  }

  input,
  textarea {
    max-width: 100%;
    width: 100%;
  }

  .translation-lang {
    text-decoration: underline;
  }
}
