<% # Defaults
  is_published = "" if is_published == nil
  action_toggle_publish = "" if action_toggle_publish == nil
%>

<ul class="admin-actionbar">
  <li class="action_button"
      data-action="<%=action_delete %>"
      data-prompt-text="<%=@labels[:admin_actionbar][:delete_popup] %>"
      name="delete_button">
    <%=@labels[:admin_form][:delete] %>
  </li>
  <li class="action_button"
      data-action="<%=action_edit %>"
      name="edit_button">
    <%=@labels[:admin_form][:edit] %>
  </li>
  <li class="action_button"
      data-action="<%=action_toggle_publish %>"
      name="toogle_publish_button">
      <% if is_published %>
        <%=@labels[:admin_form][:unpublish] %>
      <% else %>
        <%=@labels[:admin_form][:publish] %>
      <% end %>
  </li>
</ul>
