<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmCEUHiQfYAmsbCBtqWhXu5SmHwblRJhw&callback=initMap" async defer></script>
<script src="/js/admin.js" charset="utf-8"></script>
</body>
</html>
