<html>
  <head>
    <meta charset="utf-8">
    <title>TDS – Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
  </head>
  <body class="admin">
    <%= erb :'client/partials/_lang_selector' %>
    <header class="cf" id="site-header">
      <div class="logo">
        <a href="/admin">
          <img src="" alt="LOGO">
        </a>
      </div>
      <nav id="header-nav">
        <ul class="cf">
          <li class="nav-el">
            <a href="/admin/trips"><%=@labels[:admin_header][:trips] %></a>
          </li>
          <li class="nav-el">
            <a href="/admin/locations"><%=@labels[:admin_header][:locations] %></a>
          </li>
          <li class="nav-el">
            <a href="/admin/pages"><%=@labels[:admin_header][:pages] %></a>
          </li>
          <li class="nav-el">
            <a href="/admin/tripcategories"><%=@labels[:admin_header][:tripcategories] %></a>
          </li>
          <li class="nav-el">
            <a href="/admin/locationcategories"><%=@labels[:admin_header][:locationcategories] %></a>
          </li>
          <li class="nav-el">
            <a href="/admin/import"><%=@labels[:admin_header][:import] %></a>
          </li><li class="nav-el">
            <a href="/admin/export"><%=@labels[:admin_header][:export] %></a>
          </li>
        </ul>
      </nav>
    </header>
