<% readonly_string = readonly ? "readonly" : "" %>
<label for="color_hex"><%=@labels[:admin_locationcategory][:color] %>:</label>
<div class="hex-input">
  <span style="background-color: #<%=color_hex %>" class="hex-symbol">#</span>
  <input <%=readonly_string %> type="text" name="colorhex" value="<%=color_hex %>">
</div>

<% if not readonly %>
  <ul class="color_list">
    <% colors.each do |color| %>
      <li data-color="<%=color %>" style="background-color: <%=color %>"></li>
    <% end %>
  </ul>
<% end %>
