<fieldset class="image_area">
  <legend><%=@labels[:admin_location][:image] %></legend>
  <input type="text" name="img_url" hidden value="">
  <img src="<=image_src %>" alt="" class="preview">
</fieldset>
