<ul class="lang-selector">
<% Language.all.each do |lang| %>
<% selected = lang.language_code == @lang.language_code ? "is-active" : "" %>
  <li class="lang <%=selected %>" data-lang-code="<%=lang.language_code %>">
      <%=lang.language_code.upcase %>
  </li>
<% end %>
</ul>
