<div class="dropdown_search">
  <input class="dropdown_searchbox" type="text" name="location_search" value="" placeholder="<%=@labels[:admin_location_search][:search_placeholder] %>">
  <span class="dropdown_search_label">
    <%=@labels[:admin_location_search][:results] %>
  </span>

  <ul class="dropdown_list">
    <% locations.each do |location| %>
    <% selected = locations_selected.include?(location) ? "is-selected" : "" %>
    <li class="dropdown_el <%=selected %>"
        data-location='<%=location.to_json %>'
        data-location-title='<%=location.translation(@lang).title %>'
        data-location-desc='<%=location.translation(@lang).description %>'
        data-location-category='<%=location.location_category.to_json %>'
        data-location-category-title='<%=location.location_category.translation(@lang).title %>'
        data-location-category-description='<%=location.location_category.translation(@lang).description %>'
    ><span class='dropdown_el_name'><%=location.translation(@lang).title %></span>
        <span style='background-color: #<%=location.location_category.color_hex %>'
              class="dropdown_el_label"
        ><%=location.location_category.translation(@lang).title %>
        </span>
    </li>
    <% end %>
  </ul>
</div>
