<li class="thumb">
  <a href="/admin/locations/<%=location[:id] %>">
    <h2 class="thumb-title"><%=location.translation(@lang)[:title] %></h2>
    <img src="/images/<%=location.image_url %>" class="thumb-img" alt="">
  </a>
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/locations/#{location.id}",
                    :action_edit => "/admin/locations/edit/#{location.id}",
                    :action_toggle_publish => "/admin/locations/togglepublish/#{location.id}",
                    :is_published => location.published}
  %>
</li>
