<% languages = Language.all %>


<h2><%=@labels[:admin_translation_form][:title] %></h2>
<div class="translation-forms">

<% languages.each do |lang| %>

  <div class="translation-form" data-lang="<%=lang.id %>">
    <h3 class="translation-lang"><%=lang.name %></h3>
    <div><%=object["title_#{lang.language_code}"] %></div>
    <p><%=object["description_#{lang.language_code}"] %></p>
  </div>

<% end %>

</div>
