<% languages = Language.all %>

<fieldset class="translation-forms">
  <legend><%=@labels[:admin_translation_form][:title] %></legend>
  <% languages.each do |lang| %>

    <div data-lang="<%=lang.language_code %>" class="translation-form">
      <h3 class="translation-lang"><%=lang.name %></h3>
      <label for="title_<%=lang.language_code %>">
        <%=@labels[:admin_translation_form][:title_label] %>
      </label>
      <input required type="text" name="title_<%=lang.language_code %>" value='<%=object["title_#{lang.language_code}"] %>'>
      <label for="description_<%=lang.language_code %>">
        <%=@labels[:admin_translation_form][:description_label] %>
      </label>
      <textarea name="description_<%=lang.language_code %>" rows="8" cols="80">
        <%=object["description_#{lang.language_code}"] %>
      </textarea>
    </div>

  <% end %>
</fieldset>
