<li class="thumb">
  <a href="/admin/trips/<%=trip[:id] %>">
    <h2 class="thumb-title"><%=trip.translation(@lang)[:title] %></h2>
    <img src="/images/<%=trip.image_url %>" class="thumb-img" alt="">
  </a>
  <%=
    erb :'admin/partials/_actionbar',
        :locals => {:action_delete => "/admin/trips/#{trip.id}",
                    :action_edit => "/admin/trips/edit/#{trip.id}",
                    :action_toggle_publish => "/admin/trips/togglepublish/#{trip.id}",
                    :is_published => trip.published}
  %>
</li>
